<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./layout.css">
  <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"/>
</head>
<body>
   


   <header>
    <nav class="navbar navbar-expand-lg bg-white shadow-sm fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="https://justfood8.netlify.app/img/Frame%201.png" height="40" alt=""></a>
    <span class="ms-3 fs-3">just food</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
    data-bs-target="#navbarNavAltMarkup" 
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav border border-white ms-auto">
         

     <div class="collapse navbar-collapse" id="menu">

<ul class="navbar-nav ms-auto align-items-lg-center">


<li class="nav-item">
<a class="nav-link px-3" href="#">Home</a>
</li>

<li class="nav-item">
<a class="nav-link px-3" href="#">Products</a>
</li>

<li class="nav-item">
<a class="nav-link px-3" href="#">Review</a>
</li>

<li class="nav-item">
<a class="nav-link px-3" href="#">About Us</a>
</li>

<li class="nav-item ms-lg-3">

<a href="#" class="btn order-btn text-dark bg-warning rounded-5 ">

ORDER NOW

</a>
      </ul>
    </div>
  </div>
</nav>
   </header>

    <Section class="hero-section border border-black" >
      <div class="container inner-hero border border-danger">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis quidem eum officiis commodi ea omnis maxime iste perferendis laboriosam optio, eaque, dignissimos tempore eius! Quod modi in laudantium eaque saepe.
      </div>

    </Section>
    <section class="hero">

<div class="container border border-0 border-black ">

<div class="row align-items-center m-5">

<div class="col-5 text-center">

<img src="https://justfood8.netlify.app/img/image%2015.png"
class="img-fluid hero-img">

</div>

<div class="col-6">

<h1 class="display-5 fw-semibold mb-4">

Straight out of Kitchen to your Door Step

</h1>

<p class="lead">

As we know we're in a digital era, we made food easier
for you by just placing your order from us and get
the food you want delivered at your doorstep.

</p>

<a href="#" class="btn order-btn mt-3" >

ORDER NOW</a>
</div>

</div>

</div>
</section>
   <section class="why-Choose border border-2 border-black  align-items-center w-100">
    <div class="why border border-3 border-danger">
    <div></div>
    <div></div>
    <div></div>
    </div>
   </section>

    
  <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
</body>
</html>