
 .btn{
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5em 1em;
   color: rgb(171, 73, 73);
   background-color: rgb(228, 162, 162);
   border: 10px solid rgb(229, 20, 20);
   border-radius: 5px;
   transition: transform 0.5s, backgroun-color 0.5s, color 0.3s;
   /* display: flex;
   align-content: center; */
   /* align-content: center; */

  }

 .btn:hover{
   transform: translateY(10px);
   background-color: rgb(99, 13, 13);
   color: white;
 }

 @keyframes slideinleft {
   from{
    transform: translateX(-200px);
   }

   to{
    transform: translateX(0);
   }

   
 }
 .heading-1{
   animation-name: ;
   animation-duration: ;
   animation-timing-function: ;
   animation-delay: ;
   animation-iteration-count: ;
   animation-direction: ;
   animation-fill-mode: ;
   }